<form method="post" action="new">
<h2>Create Event</h2>
<table border="0">
<br>
<label> Event name </label>
<br>
<input type="text" name="name">
<br>
<br>
<label> Event date </label>
<br>
<input type="date" name="date">
<br>
<br>
<input type="submit" value="Create event"> <p> <a href="/main" >Back</a></p>
</table>
</form>


