<html>
    <head>


    </head>

    <body>
	<body background="http://www.tutorialesenlaweb.com/wp-content/download/photoshop/retro/textura_papel.jpg" bgcolor="FFCECB">
        <h1><em><span style="font-family:trebuchet ms,helvetica,sans-serif;"><span style="color: rgb(0, 0, 0);">Rate me!</span></span></em></h1>        
        	<%= yield %>

    </body>

</html>
